<div class="container">
  <div class="left">
    <div class="title">
      <h1>Paisagens para apreciar enquanto relaxa</h1>
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt temporibus iusto cupiditate
        repellendus sed ipsam officiis ab modi nemo, accusamus fuga error aperiam dolorem eligendi,
        sapiente, ea dicta recusandae? Rerum.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="images"
      [ngClass]="
      {
        'one': this.numberOfImages == 1,
        'two': this.numberOfImages == 2,
        'three': this.numberOfImages == 3,
        'four': this.numberOfImages == 4,
        'five': this.numberOfImages == 5
      }
      ">
      <div id="imgs" *ngFor="let images of arrayOfImages" [innerHTML]="images.image"
      [ngClass]="
      {
        'im-first' : images.position == 1,
        'im-second' : images.position == 2,
        'im-third' : images.position == 3,
        'im-fourth' : images.position == 4,
        'im-fifth' : images.position == 5
      }"
      class="im im1">
        <!-- <img src="assets/images/image1.jpg" alt=""> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="container2">
  <app-slide-without-transition></app-slide-without-transition>
</div> -->