@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root{
    --primary-image-slide-width: 350px;
    --secondaries-image-slide-width: 60px;
    --margin-left-second-image: calc(var(--primary-image-slide-width) + 34px);
    --margin-left-third-image: calc(var(--margin-left-second-image) + var(--secondaries-image-slide-width) + 7px);
    --margin-left-fourth-image: calc(var(--margin-left-third-image) + var(--secondaries-image-slide-width) + 7px);
    --margin-left-fifth-image: calc(var(--margin-left-fourth-image) + var(--secondaries-image-slide-width) + 7px);
}

.container .title h1{
    font-family: 'Nuosu SIL', serif;
    font-size: 3rem;
}
.container{
    display: flex;
    width: 1440px;
    margin: 0px auto;
    height: 560px;
    justify-content: space-around;
    /* background-color: orange; */
    position: relative;
    padding: 0px 30px;
}
.container2{
    width: 1440px;
    margin: 0px auto;
    height: 560px;
    /* background-color: orange; */
    position: relative;
    padding: 0px 100px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.left .title{
    margin: 2rem 0rem;
}

.left .content{
    font-size: medium;
    color: #2d2d2d;
    width: 85%;
    font-family: 'Nunito Sans', sans-serif;
}
.container .right{
    width: 50%;
    /* float: right; */
    /* background-color: yellow; */
}
.container .right .images{
    position: relative;
    padding: 20px;
    height: 100%;
    /* display: grid;
    grid-template-columns: 350px 70px 70px 70px;
    column-gap: 5px; */
    /* background-color: red; */
    /* width: 100%; */
}
.container .right .images div.im{
    /* padding: 100px; */
    /* background-color: red; */
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    /* display: inline-block; */
    margin: 0px 3px;
    transition: all 1s ease-in-out;
}
.im-first > img{
    width: 100% !important;
    object-fit: cover !important;
}

.im-first{
    /* width: var(--primary-image-slide-width); */
    transition: all 1.5s ease-in-out;
    animation: transition 1.5s ease-in-out;
}

@keyframes transition {
    from{
        margin-left: var(--margin-left-fifth-image);
        /* opacity: 0; */
        width: var(--secondaries-image-slide-width) !important;
    }
    to{
        margin-left: 0px;
        width: var(--primary-image-slide-width) !important;
        /* background-color: red;
        padding: 20px; */
    }
}

.im-second{
    margin-left: var(--margin-left-second-image) !important;
    width: 60px !important;
    transition: all 1.5s ease-in-out;
    /* animation: transition 1.5s ease; */
}

@keyframes second {
    from{
        width: var(--primary-image-slide-width);
    }
    to{
        width: 60px !important;
    }
}

.im-third{
    margin-left: var(--margin-left-third-image) !important;
    width: 60px !important;
    transition: all 1.5s ease-in-out;
}
.im-fourth{
    margin-left: var(--margin-left-fourth-image) !important;
    width: 60px !important;
    transition: all 1.5s ease-in-out;
}
.im-fifth{
    margin-left: var(--margin-left-fifth-image) !important;
    width: var(--secondaries-image-slide-width) !important;
    transition: all 1.5s ease-in-out;
}


/* .container .right .images img:hover{
    width: auto;
} */
.container .right .images div.im img{
    /* width: 70px;
    margin-left: 10px; */
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    transition: .3s;
}
.container .right .images div.im img:nth-child(1){
    /* width: auto; */
}
.container .right .images div.im img:nth-child(2){
    width: 70px;
    /* margin-left: 10px; */
}
.container .right .images div.im img:nth-child(3){
    width: 70px;
    /* margin-left: 10px; */
}
.container .right .images div.im img:nth-child(4){
    width: 70px;
    /* margin-left: 10px; */
}