<div class="container">
  <div class="left">
    <div class="title">
      <h1>Paisagens para apreciar enquanto relaxa</h1>
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt temporibus iusto cupiditate
        repellendus sed ipsam officiis ab modi nemo, accusamus fuga error aperiam dolorem eligendi,
        sapiente, ea dicta recusandae? Rerum.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="images">
      <!-- <img *ngFor="let imgObj of this.array" [src]="imgObj.image" alt=""> -->
      
      <!-- <ng-content *ngFor="let imgObj of this.array"></ng-content> -->

      <!-- <img [src]="image1" class="pos-start" alt="" srcset="">
      <img [src]="image2" class="pos-second" alt="" srcset="">
      <img [src]="image3" class="pos-third" alt="" srcset="">
      <img [src]="image4" class="pos-fourth" alt="" srcset=""> -->

      <div *ngFor="let imgObj of this.array" [innerHTML]="imgObj.image" class="im im{{imgObj.div_position}}">
        <!-- <img src="assets/images/image1.jpg" alt=""> -->
      </div>

      <!-- <div *ngFor="let img of this.position" [innerHTML]="this.position">
        <img src="assets/images/image1.jpg" alt="">
      </div> -->

      <!-- <div class="im im2">
        <img src="assets/images/image2.jpg" alt="">
      </div>
      <div class="im im3">
        <img src="assets/images/image3.jpg" alt="">
      </div>
      <div class="im im4">
        <img src="assets/images/image4.jpg" alt="">
      </div> -->
      <!-- <div class="im im5">
        <img src="assets/images/image5.jpg" alt="">
      </div> -->

      <!-- <img [src]="image1" [ngClass]="img1" alt="" srcset="">
      <img [src]="image2" [ngClass]="img2" alt="" srcset="">
      <img [src]="image3" [ngClass]="img3" alt="" srcset="">
      <img [src]="image4" [ngClass]="img4" alt="" srcset=""> -->

    </div>
  </div>
</div>

<div class="container2">
  <app-slide-without-transition></app-slide-without-transition>
</div>