
<div class="right">
    <div class="images">
        <div class="im im1">
            <img src="assets/images/image1.jpg" alt="">
        </div>
        <div class="im im2">
            <img src="assets/images/image2.jpg" alt="">
        </div>
        <div class="im im3">
            <img src="assets/images/image3.jpg" alt="">
        </div>
        <div class="im im4">
            <img src="assets/images/image4.jpg" alt="">
        </div>
        <div class="im im5">
            <img src="assets/images/image5.jpg" alt="">
        </div>
    </div>
</div>